### 문자열 함수 복습

In [4]:
# 주민등록번호 생년월일만 출력하기
num = '960407-2123432'
num[:6]

'960407'

In [7]:
num.split('-')[0]

'960407'

In [10]:
# 변수 a를 날짜는 date에, 기온은 wrather에 나누어 넣으시오
a = '20010331Rainy'
date = a[:8]
weather = a[8:]
print(date, weather)

20010331 Rainy

In [14]:
# pithon을 python으로 바꾸기
a = 'Pithon'
# a[1] = 'y' (X) string은 중간의 문자열을 변경할 수 없다
a[:1] + "y" + a[2:]

'Python'

### 데이터 구조(리스트, 튜플, 딕셔너리) 복습

In [21]:
# a 리스트에서 'Life' 값 추출
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a[2][2][0]

'Life'

### 조건문
1. if
2. if else
3. if elif else

In [22]:
# if (조건):
a = 10; b = 20
if(a==b):
    print("참")
else:
    print("거짓")

거짓

In [23]:
# 실습 문제
# 점수를 화면에서 입력받아 처리하는 기능
# 점수 > 90 : A
# 90 > 점수 > 80 : B

In [30]:
score = int(input("점수는 몇 점? "))

if(score > 90):
    print("A등급")
elif(score > 80):
    print("B등급")
elif(score > 70):
    print("C등급")
else:
    print("D등급")

점수는 몇 점?80
C등급

### 반복문
1. for
2. while

In [31]:
# for (변수) in (반복횟수정보):
    # 반복 실행문

In [32]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
for i in range(1, 10): # in 뒤에는 iterable 객체만 올 수 있다
    print(i)

1
2
3
4
5
6
7
8
9

In [34]:
fruit = ['apple', 'banana', 'cherry']
for i in fruit:
    print(i)

apple
banana
cherry

In [42]:
fruit_price = {'apple': 3500, 'banana': 2000, 'cherry': 2400}
print(fruit_price)

for i in fruit_price.keys():
    print(i)
    
for i in fruit_price.values():
    print(i)
    
for i in fruit_price.items(): # 튜플로 반환
    print("과일명: ", i[0], "가격: ", i[1])

{'banana': 2000, 'apple': 3500, 'cherry': 2400}
banana
apple
cherry
2000
3500
2400
과일명:  banana 가격:  2000
과일명:  apple 가격:  3500
과일명:  cherry 가격:  2400

In [54]:
# 3000원 보다 비싼과일과 아닌 과일 분류하기

# 과일명을 저장할 빈 리스트 정의
high_fruit = []
low_fruit = []

# 과일 개수를 저장할 변수 초기화
high_count = 0
low_count = 0
fruit_price = {'apple': [3500, 10],
               'banana': [2000, 20],
               'cherry': [2400, 13] }
for i in fruit_price.items():
    if i[1][0] >= 3000:
        high_fruit.append(i[0])
        high_count += i[1][1]
    else:
        low_fruit.append(i[0])
        low_count += i[1][1]
        
print("high_fruit: ", high_fruit, "개수는? ", high_count)
print("low_fruit: ", low_fruit, "개수는? ", low_count)

high_fruit:  ['apple'] 개수는?  10
low_fruit:  ['banana', 'cherry'] 개수는?  33

In [55]:
x = int(input("Please enter = "))
if x < 0:
    x = 0
    print("0보다 작은 수")
elif x == 0:
    print("0")
elif x == 1:
    print ("1")
else:
    print ("1보다 큰 수")

Please enter = 12
1보다 큰 수

In [62]:
fruit_price = {'apple': 3500, 'banana': 2000, 'cherry': 2400}
for name, value in fruit_price.items():
    print("과일명", name, "가격", value)

과일명 banana 가격 2000
과일명 apple 가격 3500
과일명 cherry 가격 2400

In [64]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, "equals", x, '*', n/x)
            break
    else:
            print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2.0
5 is a prime number
6 equals 2 * 3.0
7 is a prime number
8 equals 2 * 4.0
9 equals 3 * 3.0

In [72]:
num_list = [1, 4, 7, 132]

for i in num_list:
    if i % 2 == 0:
        print("{}는 짝수".format(i))
    else:
        print("{}는 홀수".format(i))

1는 홀수
4는 짝수
7는 홀수
132는 짝수

In [76]:
n = int(input("숫자 입력"))
val = [1, 2, 3, 4]
if n in val:
    print("{}가 있다".format(n))
else:
    print("{}가 없다")

숫자 입력3
3가 있다