### Pandas 실습
성적을 dataframe으로 만들고 총점, 평균, 등급 구하기

In [32]:
import pandas as pd

In [33]:
grade = pd.DataFrame({'국어':[76, 90, 64, 70, 98],
                      '영어':[65,75,70,82,93],
                      '수학':[80,98,62,84,85]})

In [34]:
# 행의 합 구하기
sum = grade.sum(axis=1)
mean = grade.mean(axis=1)

In [52]:
grade['총점'] = sum
grade['평균'] = mean
grade

   국어  수학  영어   총점         평균   등급
0  76  80  65  221  73.666667  C등급
1  90  98  75  263  87.666667  B등급
2  64  62  70  196  65.333333  C등급
3  70  84  82  236  78.666667  C등급
4  98  85  93  276  92.000000  A등급

In [44]:
rank = []
for i in grade['평균']:
    if i >= 90:
        rank.append('A등급')
    elif i >= 80:
        rank.append('B등급')
    else:
        rank.append('C등급')
        
rank

['C등급', 'B등급', 'C등급', 'C등급', 'A등급']

In [45]:
grade['등급'] = rank
grade

   국어  수학  영어   총점         평균   등급
0  76  80  65  221  73.666667  C등급
1  90  98  75  263  87.666667  B등급
2  64  62  70  196  65.333333  C등급
3  70  84  82  236  78.666667  C등급
4  98  85  93  276  92.000000  A등급

In [46]:
# 열을 추가해서 만드려면 딕셔너리 사용
dic_data = {'국어':[76, 90, 64, 70, 98],
            '영어':[65,75,70,82,93],
            '수학':[80,98,62,84,85]}
df = pd.DataFrame(dic_data)

In [47]:
# 총점 구하기
# 컬럼의 합
df['총점'] = df['국어'] + df['영어'] + df['수학']
df

   국어  수학  영어   총점
0  76  80  65  221
1  90  98  75  263
2  64  62  70  196
3  70  84  82  236
4  98  85  93  276

In [54]:
# 평균 구하기
df['평균']= (df['국어'] + df['수학'] + df['영어']) / 3
df

   국어  수학  영어   총점         평균   등급  등급1
0  76  80  65  221  73.666667  B등급  B등급
1  90  98  75  263  87.666667  A등급  A등급
2  64  62  70  196  65.333333  C등급  C등급
3  70  84  82  236  78.666667  B등급  B등급
4  98  85  93  276  92.000000  S등급  S등급

In [51]:
# 등급 구하는 방법1
df['등급'] = ""
for row in range(0, len(df)):
    if df.iloc[row,4] >= 90:
        df.iloc[row,5] = "S등급"
    elif df.iloc[row,4] >= 80:
        df.iloc[row,5] = "A등급"
    elif df.iloc[row,4] >= 70:
        df.iloc[row,5] = "B등급"
    else:
        df.iloc[row,5] = "C등급"
df

   국어  수학  영어   총점         평균   등급
0  76  80  65  221  73.666667  B등급
1  90  98  75  263  87.666667  A등급
2  64  62  70  196  65.333333  C등급
3  70  84  82  236  78.666667  B등급
4  98  85  93  276  92.000000  S등급

In [53]:
# 등급 구하는 방법2
df.loc[df["평균"] > 90, "등급1"] = "S등급"
df.loc[(df["평균"] > 80) & (df["평균"] <= 90), "등급1"] = "A등급"
df.loc[(df["평균"] > 70) & (df["평균"] <= 80), "등급1"] = "B등급"
df.loc[(df["평균"] <= 70), "등급1"] = "C등급"
df

   국어  수학  영어   총점         평균   등급  등급1
0  76  80  65  221  73.666667  B등급  B등급
1  90  98  75  263  87.666667  A등급  A등급
2  64  62  70  196  65.333333  C등급  C등급
3  70  84  82  236  78.666667  B등급  B등급
4  98  85  93  276  92.000000  S등급  S등급

In [57]:
dict_data = {'국어':[76, 90, 64, 70, 98],
                      '영어':[65,75,70,82,93],
                      '수학':[80,98,62,84,85]}
df1 = pd.DataFrame(dict_data)

In [59]:
df1['총점'] = df1['국어'] + df1['수학'] + df1['영어']
df1

   국어  수학  영어   총점
0  76  80  65  221
1  90  98  75  263
2  64  62  70  196
3  70  84  82  236
4  98  85  93  276

In [60]:
df1['평균'] = (df1['국어'] + df1['수학'] + df1['영어']) / 3
df1

   국어  수학  영어   총점         평균
0  76  80  65  221  73.666667
1  90  98  75  263  87.666667
2  64  62  70  196  65.333333
3  70  84  82  236  78.666667
4  98  85  93  276  92.000000

In [65]:
df1['등급'] = ""

for row in range(0, len(df1)):
    if df1.iloc[row, 4] > 90:
        df1.iloc[row, 5] = 'S등급'
    elif df1.iloc[row, 4] > 80:
        df1.iloc[row, 5] = 'A등급'
    elif df1.iloc[row, 4] > 70:
        df1.iloc[row, 5] = 'B등급'
    else:
        df1.iloc[row, 5] = 'C등급'
df1

   국어  수학  영어   총점         평균   등급  등급1
0  76  80  65  221  73.666667  B등급  B등급
1  90  98  75  263  87.666667  A등급  A등급
2  64  62  70  196  65.333333  C등급  C등급
3  70  84  82  236  78.666667  B등급  B등급
4  98  85  93  276  92.000000  S등급  S등급

In [66]:
df1.loc[df1["평균"] > 90, "등급1"] = "S등급"
df1.loc[(df1["평균"] > 80) & (df1["평균"] <= 90), "등급1"] = "A등급"
df1.loc[(df1["평균"] > 70) & (df1["평균"] <= 80), "등급1"] = "B등급"
df1.loc[(df1["평균"] <= 70), "등급1"] = "C등급"
df1

   국어  수학  영어   총점         평균   등급  등급1
0  76  80  65  221  73.666667  B등급  B등급
1  90  98  75  263  87.666667  A등급  A등급
2  64  62  70  196  65.333333  C등급  C등급
3  70  84  82  236  78.666667  B등급  B등급
4  98  85  93  276  92.000000  S등급  S등급

In [67]:
df1["평균"] > 90, "등급1"

(0    False
 1    False
 2    False
 3    False
 4     True
 Name: 평균, dtype: bool, '등급1')

In [69]:
count = 5
while count > 0:
    print("Welcome= ", count)
    count -= 1
else:
    print("While문 종료")

Welcome=  5
Welcome=  4
Welcome=  3
Welcome=  2
Welcome=  1
While문 종료

In [75]:
square = []
num = list(range(1,6))
for i in num:
    square.append(i**2)
square

[1, 4, 9, 16, 25]

In [76]:
# 위의 문장 축약
square = [i**2 for i in num] # 결과를 list에 넣어줌
square

[1, 4, 9, 16, 25]

In [77]:
square = []
for i in num:
    if i >= 3:
        square.append(i**2)
square

[9, 16, 25]

In [80]:
# 위의 문장 축약
[i**2 for i in num if i >= 3]

[9, 16, 25]

In [86]:
def std_arg(arg):
    print("1= ", arg)
    
def pos_only_arg(arg, /): # 위치 매개변수만 사용 가능
    print("2= ", arg)
    
def kwd_only_arg(*, arg):
    print("3= ", arg)

def combined_arg(pos_only, /, standard, *, kwd_only):
    print("3= ", pos_only, standard, kwd_only)

SyntaxError: invalid syntax (<ipython-input-86-aa347edfeab4>, line 4)

In [83]:
pos_only_arg(1)

NameError: name 'pos_only_arg' is not defined

In [84]:
kwd_only_arg(1)

SyntaxError: invalid syntax (<ipython-input-84-09a0059cf5cb>, line 1)

In [87]:
kwd_only_arg(arg=1):

SyntaxError: invalid syntax (<ipython-input-87-80b79debca27>, line 1)

In [90]:
# 현재 디렉터리에서 ipynb 파일명 가져오기

In [116]:
res = os.listdir()
arr = []
for file in res:
    arr.append(file.split("."))

for i in arr:
    if i[1] == 'ipynb':
        print(i[0])

IndexError: list index out of range

['', 'ipynb_checkpoints']
['210308_python_test', 'ipynb']
210308_python_test
['210309_python_기초', 'ipynb']
210309_python_기초
['210309_내장함수', 'ipynb']
210309_내장함수
['210309_파일_입출력', 'ipynb']
210309_파일_입출력
['210309_함수_모듈', 'ipynb']
210309_함수_모듈
['210310_Numpy', 'ipynb']
210310_Numpy
['210310_pandas', 'ipynb']
210310_pandas
['210310_pandas_데이터기초분석', 'ipynb']
210310_pandas_데이터기초분석
['210311_10minutes_pandas', 'ipynb']
210311_10minutes_pandas
['210311_matplotlib', 'ipynb']
210311_matplotlib
['210311_numpy', 'ipynb']
210311_numpy
['210311_numpy_quickstart', 'ipynb']
210311_numpy_quickstart
['210312_matplotlib_guide_tutorial', 'ipynb']
210312_matplotlib_guide_tutorial
['210312_seaborn', 'ipynb']
210312_seaborn
['210312_titanic_데이터전처리', 'ipynb']
210312_titanic_데이터전처리
['210312_실습문제풀이', 'ipynb']
210312_실습문제풀이
['210315_내장함수', 'ipynb']
210315_내장함수
['210315_모듈', 'ipynb']
210315_모듈
['210315_실습', 'ipynb']
210315_실습
['210315_클래스', 'ipynb']
210315_클래스
['archive', 'ics', 'uci', 'edu']
['calc', 'ipynb']
calc
['calc', 'py']
['excel_test', 'xlsx']
['foo', 'csv']
['fruit', 'csv']
['fruit', 'txt']
['fruit2', 'txt']
['main', 'ipynb']
main
['main', 'py']
['mod1', 'ipynb']
mod1
['mod1', 'py']
['stinkbug', 'png']
['titanic', 'jpg']
['titanic_train', 'csv']
['titles', 'csv']
['Untitled', 'ipynb']
Untitled
['Untitled1', 'ipynb']
Untitled1
['Untitled2', 'ipynb']
Untitled2
['Untitled3', 'ipynb']
Untitled3
['Untitled4', 'ipynb']
Untitled4
['Untitled5', 'ipynb']
Untitled5
['winequality-red', 'csv']
['__pycache__']