### pd.read_html()
pd.read_html()을 이용하면 html에 있는 table 속성에 해당하는 값을 가져올 수 있다

In [2]:
import pandas as pd
import requests

In [18]:
url = "https://finance.naver.com/item/main.nhn?code=005930"
table = pd.read_html(url, encoding='euc-kr')
table # 리스트 안에 dataframe이 들어있는 형태로 모든 table을 한번에 가져온다

[                    0                                          1  \
 0  전일  82,800  82,800  고가  82,90082,900  (상한가  107,500107,500  )
 1    시가  82,80082,800          저가  82,00082,000  (하한가  58,000  )

                              2
 0  거래량  11,468,812  11,468,812
 1   거래대금  944,571  944,571  백만  ,
      매도상위        거래량        매수상위        거개량
 0     NaN        NaN         NaN        NaN
 1      한화  1515549.0          한화  1328583.0
 2    이베스트  1253819.0        이베스트  1251235.0
 3      삼성   954040.0          삼성   868115.0
 4  NH투자증권   654355.0      NH투자증권   761941.0
 5    키움증권   548799.0       홍콩상하이   694994.0
 6  외국계추정합   616580.0  +1,650,942  2267522.0,
       날짜       종가        전일비         외국인          기관
 0    NaN      NaN        NaN         NaN         NaN
 1  03/17  82300.0    하향  500    +592,179    -1603875
 2  03/16  82800.0  상향  1,000  +1,286,813  +1,205,197
 3  03/15  81800.0  하향  1,000    -2484838    -2408292
 4  03/12  82800.0    상향  800  +2,208,191     -266468
 5  03/11  82000.0  상향  1,100  +6,007,986    -2683587
 6  03/10  80900.0    하향  500    -1581323    -1344528
 7    NaN      NaN        NaN         NaN         NaN,
        주요재무정보    최근 연간 실적                                       최근 분기 실적  \
        주요재무정보     2018.12     2019.12     2020.12  2021.12(E)    2019.12
        주요재무정보      IFRS연결      IFRS연결      IFRS연결      IFRS연결     IFRS연결
 0         매출액  2437714.00  2304009.00  2368070.00  2606919.00  598848.00
 1        영업이익   588867.00   277685.00   359939.00   460647.00   71603.00
 2       당기순이익   443449.00   217389.00   264078.00   347672.00   52270.00
 3       영업이익률       24.16       12.05       15.20       17.67      11.96
 4        순이익률       18.19        9.44       11.15       13.34       8.73
 5   ROE(지배주주)       19.63        8.69        9.98       12.36       8.69
 6        부채비율       36.97       34.12       37.07         NaN      34.12
 7        당좌비율      204.12      233.57      214.82         NaN     233.57
 8         유보율    27531.92    28856.02    30692.79         NaN   28856.02
 9      EPS(원)     6024.00     3166.00     3841.00     5062.00     770.00
 10     PER(배)        6.42       17.63       21.09       16.36      17.63
 11     BPS(원)    35342.00    37528.00    39406.00    42530.00   37528.00
 12     PBR(배)        1.09        1.49        2.06        1.95       1.49
 13   주당배당금(원)     1416.00     1416.00     2994.00     1562.00        NaN
 14   시가배당률(%)        3.66        2.54        3.70         NaN        NaN
 15    배당성향(%)       21.92       44.73       77.95         NaN        NaN


       2020.03    2020.06    2020.09    2020.12 2021.03(E)
        IFRS연결     IFRS연결     IFRS연결     IFRS연결     IFRS연결
 0   553252.00  529661.00  669642.00  615515.00  602650.00
 1    64473.00   81463.00  123532.00   90470.00   85752.00
 2    48849.00   55551.00   93607.00   66071.00   61580.00
 3       11.65      15.38      18.45      14.70      14.23
 4        8.83      10.49      13.98      10.73      10.22
 5        8.45       8.49       9.51       9.98        NaN
 6       34.19      32.67      36.09      37.07        NaN
 7      237.80     250.04     229.69     214.82        NaN
 8    29134.12   29477.97   30242.29   30692.79        NaN
 9      720.00     808.00    1364.00     949.00     980.00
 10      15.24      16.52      15.89      21.09      84.47
 11   38053.00   38534.00   39446.00   39406.00        NaN
 12       1.25       1.37       1.48       2.06        NaN
 13        NaN        NaN        NaN        NaN        NaN
 14        NaN        NaN        NaN        NaN        NaN
 15        NaN        NaN        NaN        NaN        NaN  ,
            종목명 삼성전자*005930 SK하이닉스*000660 DB하이텍000990 원익IPS240810  솔브레인357780
 0          현재가       82300        140000       57400       51300      303500
 1         전일대비     하향  500       하향  500     상향  700     상향  300   하향  5,400
 2          등락률  하향  -0.60%    하향  -0.36%  상향  +1.23%  상향  +0.59%  하향  -1.75%
 3      시가총액(억)     4913131       1019203       25484       25180       23607
 4     외국인비율(%)       54.68         50.04       18.96       28.98       23.67
 5       매출액(억)      615515         79662         NaN         NaN         NaN
 6      영업이익(억)       90470          9659         NaN         NaN         NaN
 7    조정영업이익(억)       90470          9659         NaN         NaN         NaN
 8   영업이익증가율(%)      -26.76        -25.68         NaN         NaN         NaN
 9     당기순이익(억)       66071         17677         NaN         NaN         NaN
 10    주당순이익(원)      948.89       2426.91         NaN         NaN         NaN
 11      ROE(%)        9.98          9.53         NaN         NaN         NaN
 12      PER(%)       21.43         21.43       15.49       17.01         NaN
 13      PBR(배)        2.09          1.85        3.19        3.53        5.01,
           0                1
 0      시가총액  491조  3,131  억원
 1    시가총액순위           코스피 1위
 2     상장주식수       5969782550
 3  액면가l매매단위      100원  l  1주,
              0           1
 0  외국인한도주식수(A)  5969782550
 1  외국인보유주식수(B)  3264495367
 2  외국인소진율(B/A)      54.68%,
            0                   1
 0  투자의견l목표주가  3.96매수  l  105,304
 1   52주최고l최저   96,800  l  42,300,
                    0                  1
 0   PERlEPS(2020.12)  21.43배  l  3,841원
 1          추정PERlEPS  16.00배  l  5,062원
 2  PBRlBPS (2020.12)  2.09배  l  39,406원
 3      배당수익률l2020.12              3.64%,
           0       1
 0  동일업종 PER  26.43배
 1  동일업종 등락률  -0.50%,
         매도잔량 호가(20분지연)       매수잔량
 0        NaN       NaN        NaN
 1    87679.0     83300        NaN
 2    67581.0     83200        NaN
 3    86921.0     83100        NaN
 4   234723.0     83000        NaN
 5   222566.0     82900        NaN
 6   188164.0     82800        NaN
 7    71975.0     82700        NaN
 8    23310.0     82600        NaN
 9     2676.0     82500        NaN
 10     614.0     82400        NaN
 11       NaN       NaN        NaN
 12       NaN     82300    64501.0
 13       NaN     82200   248701.0
 14       NaN     82100   260627.0
 15       NaN     82000   663800.0
 16       NaN     81900   189513.0
 17       NaN     81800   211818.0
 18       NaN     81700   111254.0
 19       NaN     81600   116115.0
 20       NaN     81500   233051.0
 21       NaN     81400    53139.0
 22       NaN       NaN        NaN
 23  986209.0      잔량합계  2152519.0,
        업체명       거래량         전일비
 0     삼성전자   82300.0     하향  500
 1      종근당  195000.0  상향  27,500
 2   종근당바이오   80500.0  상향  16,200
 3    삼성SDI  639000.0  하향  41,000
 4     LG화학  857000.0  하향  34,000
 5      NaN       NaN         NaN
 6     경보제약   16100.0  상한가  3,700
 7     셀트리온  293500.0   하향  3,000
 8      카카오  485000.0   상향  6,000
 9    삼성출판사   48950.0   상향  6,050
 10     HMM   22400.0     상향  100,
        업체명       거래량         전일비
 0    박셀바이오  111200.0   상향  1,100
 1       씨젠  134700.0   상향  3,700
 2    에이치엘비   42250.0   상향  2,000
 3   데브시스터즈   76400.0  상향  13,900
 4     바이넥스   19300.0     하향  500
 5      NaN       NaN         NaN
 6      아이진   18650.0  상한가  4,300
 7    현대바이오   53400.0   상향  1,000
 8   케이엠더블유   66900.0   상향  2,300
 9      제넥신   97100.0     하향  900
 10  카카오게임즈   51600.0     상향  700]

In [19]:
# 원하는 테이블 가져오기
table[0]

,0,1,2
0,"전일 82,800 82,800","고가 82,90082,900 (상한가 107,500107,500 )","거래량 11,468,812 11,468,812"
1,"시가 82,80082,800","저가 82,00082,000 (하한가 58,000 )","거래대금 944,571 944,571 백만"

In [20]:
table[1]

     매도상위        거래량        매수상위        거개량
0     NaN        NaN         NaN        NaN
1      한화  1515549.0          한화  1328583.0
2    이베스트  1253819.0        이베스트  1251235.0
3      삼성   954040.0          삼성   868115.0
4  NH투자증권   654355.0      NH투자증권   761941.0
5    키움증권   548799.0       홍콩상하이   694994.0
6  외국계추정합   616580.0  +1,650,942  2267522.0

In [23]:
df = pd.DataFrame(table[3])
df

       주요재무정보    최근 연간 실적                                       최근 분기 실적  \
       주요재무정보     2018.12     2019.12     2020.12  2021.12(E)    2019.12
       주요재무정보      IFRS연결      IFRS연결      IFRS연결      IFRS연결     IFRS연결
0         매출액  2437714.00  2304009.00  2368070.00  2606919.00  598848.00
1        영업이익   588867.00   277685.00   359939.00   460647.00   71603.00
2       당기순이익   443449.00   217389.00   264078.00   347672.00   52270.00
3       영업이익률       24.16       12.05       15.20       17.67      11.96
4        순이익률       18.19        9.44       11.15       13.34       8.73
5   ROE(지배주주)       19.63        8.69        9.98       12.36       8.69
6        부채비율       36.97       34.12       37.07         NaN      34.12
7        당좌비율      204.12      233.57      214.82         NaN     233.57
8         유보율    27531.92    28856.02    30692.79         NaN   28856.02
9      EPS(원)     6024.00     3166.00     3841.00     5062.00     770.00
10     PER(배)        6.42       17.63       21.09       16.36      17.63
11     BPS(원)    35342.00    37528.00    39406.00    42530.00   37528.00
12     PBR(배)        1.09        1.49        2.06        1.95       1.49
13   주당배당금(원)     1416.00     1416.00     2994.00     1562.00        NaN
14   시가배당률(%)        3.66        2.54        3.70         NaN        NaN
15    배당성향(%)       21.92       44.73       77.95         NaN        NaN


      2020.03    2020.06    2020.09    2020.12 2021.03(E)
       IFRS연결     IFRS연결     IFRS연결     IFRS연결     IFRS연결
0   553252.00  529661.00  669642.00  615515.00  602650.00
1    64473.00   81463.00  123532.00   90470.00   85752.00
2    48849.00   55551.00   93607.00   66071.00   61580.00
3       11.65      15.38      18.45      14.70      14.23
4        8.83      10.49      13.98      10.73      10.22
5        8.45       8.49       9.51       9.98        NaN
6       34.19      32.67      36.09      37.07        NaN
7      237.80     250.04     229.69     214.82        NaN
8    29134.12   29477.97   30242.29   30692.79        NaN
9      720.00     808.00    1364.00     949.00     980.00
10      15.24      16.52      15.89      21.09      84.47
11   38053.00   38534.00   39446.00   39406.00        NaN
12       1.25       1.37       1.48       2.06        NaN
13        NaN        NaN        NaN        NaN        NaN
14        NaN        NaN        NaN        NaN        NaN
15        NaN        NaN        NaN        NaN        NaN